# Private key of a smart account owner (signer)
OWNER_PRIVATE_KEY=
# Private key of a wallet with some funds
FUNDING_PRIVATE_KEY=
# Address of the Rhinestone session signer to authorize deposits
RHINESTONE_SIGNER_ADDRESS=0x177bfcdd15bc01e99013dcc5d2b09cd87a18ce9c
# Rhinestone API key
RHINESTONE_API_KEY=
# URL of the deposit processor service
DEPOSIT_PROCESSOR_URL=https://v1.orchestrator.rhinestone.dev/deposit-processor
# Public URL of the webhook listener
WEBHOOK_PUBLIC_URL=http://localhost:3000/notify
# Port to spawn the webhook listener
WEBHOOK_PORT=3000
# (Optional) whether to index testnets instead of mainnets. Default is false.
USE_TESTNETS=false
